body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-image: url(/images/banner-bg-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 26, 0.496236);
    z-index: -1;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #1a1a1a 30%, rgba(26, 26, 26, 0.496236) 30%);
    width: 100%;
    height: 100px;
}

.top-container .custom-logo {
    width: 180px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 45px;
    height: 45px;
}

.contact-info .contact-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info p {
    color: #ffbc13;
    margin: 0;
}

.contact-info a {
    font-size: 14px;
    color: #fff;
}

header .navbar {
    background: #fff;
    border: 2px solid #ffbc13;
    border-radius: 10px;
    max-width: 1320px;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: -15px;
}

header .navbar menu {
    padding: 0;
}

header .navbar menu a {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
    text-transform: uppercase;
    transition: 0.5s;
}

header .navbar menu a:hover {
    color: #ffbc13;
}

header .navbar .button {
    color: #1a1a1a;
    background-color: #ffbc13;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

header .navbar .button:hover {
    color: #ffbc13;
    background: #1a1a1a;
}

header .container {
    display: flex;
    align-items: center;
    width: 1320px;
    padding-top: 160px;
}

header .container .content h1 {
    font-size: 60px;
    color: #fff;
}

header .container .content h1 span {
    color: #ffbc13;
}

header .container .content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
}

header .container .content a {
    color: #1a1a1a;
    background-color: #ffbc13;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

header .container .content a:hover {
    color: #ffbc13;
    background: #1a1a1a;
}

.container-about {
    width: 1320px;
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
}

.container-about .about-content {
    padding-right: 10px;
}

.container-about .about-content h2 {
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
}

.container-about .about-content h2 span {
    color: #ffbc13;
}

.container-about .about-content p {
    color: #2c2c2c;
    font-size: 16px;
}

.container-about .about-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 30px;
}

.container-about .about-content li {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    padding-left: 25px;
    position: relative;
    line-height: 1.8;
    color: #2c2c2c;
}

.container-about .about-content li i {
    margin-left: -25px;
    margin-right: 5px;
    color: #ffbc13;
    vertical-align: -2px;
}

.container-about .about-content a {
    color: #1a1a1a;
    background-color: #ffbc13;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.container-about .about-content a:hover {
    color: #ffbc13;
    background: #1a1a1a;
}

.container-about .about-images {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.container-about .about-images .about-image {
    padding-right: 25px;
}

.container-about .about-images .about-image .left {
    margin-bottom: 30px;
    position: relative;
}

.container-about .about-images .about-image .left:before {
    right: -15px;
    border-bottom: 150px solid rgba(255,188,19,.8);
    border-left: 150px solid transparent;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -15px;
}

.container-about .about-images .about-image .right {
    margin-bottom: 30px;
    position: relative;
}

.container-about .about-images .about-image .right:before {
    left: -15px;
    border-bottom: 135px solid rgba(255,188,19,.8);
    border-right: 135px solid transparent;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -15px;
}

.container-about .about-images .about-image .about-fact {
    display: flex;
    position: relative;
    padding: 35px 30px;
    margin-bottom: 30px;
    background: url(/images/about-fact-bg.jpg);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.container-about .about-images .about-image .about-fact:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,26,26,.8);
    z-index: -1;
}

.container-about .about-images .about-image .about-fact .content {
    padding-left: 16px;
}

.container-about .about-images .about-image .about-fact .content h4 {
    color: #ffbc13;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.container-about .about-images .about-image .about-fact .content span {
    color: #fff;
    font-size: 16px;
}

.service {
    background: url(/images/service-bg-1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 70px;
}

.service:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,26,26,.7);
    z-index: -1;
}

.service .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.service .container .service-content {
    margin-bottom: 30px;
    padding: 43px 0;
    position: relative;
    z-index: 1;
    width: 525px;
}

.service .container .service-content:after {
    position: absolute;
    content: '';
    left: -60px;
    top: 0;
    width: 40%;
    height: 100%;
    background: #ffbc13;
    z-index: -1;
}

.service .container .service-content h2 {
    color: #fff;
    line-height: 1.3;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 40px;
}

.service .container .service-content p {
    color: #fff;
    margin-bottom: 30px;
}

.service .container .service-content a {
    color: #1a1a1a;
    padding: 10px 30px;
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 10px;
}

.service .container .service-content a:hover {
    color: #ffbc13;
    background: #1a1a1a;
}

.works {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
}

.works:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 40%;
    height: 40%;
    background: #ffbc13;
    z-index: -1;
}

.works .container {
    min-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.works .container .works-content {
    width: 525px;
}

.works .container .works-content h2 {
    margin-bottom: 25px;
    line-height: 1.3;
    font-size: 40px;
    color: #1a1a1a;
}

.works .container .works-content h2 span {
    color: #ffbc13;
}

.works .container .works-content p {
    color: #2c2c2c;
    margin-bottom: 20px;
}

.works .container .works-content .works-item {

}

.works .container .works-content .works-item .works-item-single:first-child {
    background: url(/images/about-fact-bg.jpg) no-repeat center;
    background-size: cover;
}

.works .container .works-content .works-item .works-item-single {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 35px 60px;
    margin-bottom: 15px;
    background: url(/images/item-bg-2.jpg) no-repeat center;
    background-size: cover;
}

.works .container .works-content .works-item .works-item-single:last-child {
    background: url(/images/item-bg-3.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 0;
}

.works .container .works-content .works-item .works-item-single:before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #ffbc13;
    z-index: 1;
}

.works .container .works-content .works-item .works-item-single:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,26,26,.8);
}

.works .container .works-content .works-item .works-item-single i {
    width: 60px;
    height: 60px;
    line-height: 57px;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.works .container .works-content .works-item .works-item-single i img {
    width: 32px;
}

.works .container .works-content .works-item .works-item-single .content {
    padding-left: 16px;
    z-index: 1;
}

.works .container .works-content .works-item .works-item-single .content h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.works .container .works-images {
    height: calc(100% - 15px);
    background: url(/images/video-img-1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 620px;
    margin-left: 150px;
}

.works .container .works-images:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -15px;
    left: -15px;
    border-bottom: 170px solid rgba(255,188,19,.8);
    border-right: 170px solid transparent;
    z-index: -1;
}

.works .container .works-images:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,26,26,.5);
    z-index: -2;
}

.works .container .works-images img {
    opacity: 0;
    max-width: 100%;
    height: auto;
}

.projects {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects .bg-image {
    overflow: hidden;
}

.projects .bg-image:after {
    position: absolute;
    content: '';
    left: 0;
    top: -1px;
    width: 100%;
    height: 415px;
    background: rgba(255,249,233,.95);
    z-index: -1;
}

.projects .bg-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 413px;
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;
}

.projects .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projects .section-title {
    max-width: 720px;
    text-align: left;
    margin-right: auto;
    margin-bottom: 60px;
    position: relative;
    z-index: 5;
}

.projects .section-title:before {
    position: absolute;
    content: '';
    left: -60px;
    top: 0;
    width: 40%;
    height: 100%;
    background: #ffbc13;
    z-index: -1;
}

.projects .section-title h2 {
    font-size: 40px;
    line-height: 1.3;
    margin: 0;
    padding: 30px 0;
    font-weight: 700;
    color: #1a1a1a;
}

.projects .slider {
    display: flex;
    justify-content: center;
}

.projects .slider a {
    color: #1a1a1a;
    background-color: #ffbc13;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.projects .slider a:hover {
    color: #ffbc13;
    background: #1a1a1a;
}

.team {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.team .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.team .container .content {
    margin-bottom: 30px;
    padding: 98px 0;
    position: relative;
    z-index: 1;
}

.team .container .content:after {
    position: absolute;
    content: '';
    left: -60px;
    top: 0;
    width: 40%;
    height: 100%;
    background: #ffbc13;
    z-index: -1;
}

.team .container .content h2 {
    line-height: 1.3;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
    color: #1a1a1a;
}

.team .container .content p {
    color: #2c2c2c;
    margin-bottom: 30px;
}

.team .container .content a {
    color: #fff;
    background-color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.team .container .content a:hover {
    color: #1a1a1a;
    background: #fff;
}

.partner {
    padding-top: 70px;
    padding-bottom: 70px;
}

.partner .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-section {
    position: relative;
    background: url(/images/newsletter-bg-1.jpg) no-repeat center;
    background-size: cover;
    background-position: top;
    z-index: 1;
}

.contact-section:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(26,26,26,.9);
    z-index: -1;
}

.contact-section:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,26,26,.5);
    z-index: -1;
}

.contact-section .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-section .container .content {
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section .container .content h2 {
    color: #fff;
    line-height: 1.3;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
}

.contact-section .container .content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section .container .content form input {
    color: #d2d2d2;
    height: auto;
    background: 0 0;
    border-radius: 5px;
    border: 1px solid #ffbc13;
    padding: 10px;
    margin-bottom: 20px;
    width: 400px;
    font-size: 20px;
}

.contact-section .container .content form a {
    color: #1a1a1a;
    background-color: #ffbc13;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.contact-section .container .content form a:hover {
    color: #ffbc13;
    background-color: #1a1a1a;
}

footer {
    padding-top: 40px;
}

footer .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

footer .container .content {
    display: flex;
    flex-direction: column;
}

footer .container .content p {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
}

footer .container .content a {
    color: #1a1a1a;
    font-size: 20px;
    margin: 10px 0;
}

footer .container .menu ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

footer .container .menu li {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    padding-left: 25px;
    position: relative;
    line-height: 1.8;
    color: #2c2c2c;
}

footer .container .menu li i {
    margin-left: -25px;
    margin-right: 5px;
    color: #ffbc13;
    vertical-align: -2px;
}

footer .container .menu li a {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

footer .container .contant p {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
}

footer .copy-right {
    background: #1a1a1a;
    padding: 1.9em 0;
    text-align: center;
    border-top: 1px solid rgba(25,25,25,.15);
}

footer .copy-right .content {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer .copy-right .content p {
    color: #fff;
}

/*about*/
.page-container-about {
    width: 1320px;
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
    background: #fff9e9;
}

.page-container-about .page-about-content {
    padding-right: 10px;
}

.page-container-about .page-about-content h2 {
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
}

.page-container-about .page-about-content h2 span {
    color: #ffbc13;
}

.page-container-about .page-about-content p {
    color: #2c2c2c;
    font-size: 16px;
}

.page-container-about .page-about-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 30px;
}

.page-container-about .page-about-content li {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    padding-left: 25px;
    position: relative;
    line-height: 1.8;
    color: #2c2c2c;
}

.page-container-about .page-about-content li i {
    margin-left: -25px;
    margin-right: 5px;
    color: #ffbc13;
    vertical-align: -2px;
}

.page-container-about .page-about-content a {
    color: #1a1a1a;
    background-color: #ffbc13;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.page-container-about .page-about-content a:hover {
    color: #ffbc13;
    background: #1a1a1a;
}

.page-about-images {
    position: relative;
}

.page-about-images-content {
    display: flex;
}

.page-about-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
}

.page-about-container .page-about-image {
    margin-bottom: 10px;
    margin-right: 40px;
    width: 335px;
}

.page-about-container .page-about-image img {
    max-width: 100%;
    height: auto;
}

.page-about-overlay {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    margin-top: -15px;
    padding: 25px 30px;
    border: 4px solid #ffbc13;
    background: rgba(0, 30, 76, 0.9);
    z-index: 1;
}

.page-about-overlay h3 {
    color: #ffbc13;
    margin: 0;
    margin-bottom: 5px;
}

.page-about-overlay span {
    color: #ffffff;
}

.about-service-section {
    position: relative;
    z-index: 1;
    background: url(images/service-bg-1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
}

.about-service-section .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.about-service-section .container .service-item-single {
    max-width: 100%;
    width: 33%;
    margin: 0 15px;
    padding: 50px 30px;
    text-align: center;
    background: #FFF;
}

.about-service-section .container .service-item-single i {
    width: 60px;
    height: 60px;
    line-height: 57px;
    margin-bottom: 15px;
    background: #ffbc13;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-service-section .container .service-item-single i img {
    max-width: 32px;
    vertical-align: middle;
}

.about-service-section .container .service-item-single h3 {
    font-size: 24px;
    color: #1a1a1a;
    font-weight: 700;
}

.about-service-section .container .service-item-single p {
    color: #1a1a1a;
}

.about-count-section {
    position: relative;
    overflow: hidden;
    background: url(images/count-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
}

.about-count-section .container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.about-count-section .container .content {
    position: relative;
    overflow: hidden;
    padding: 80px 20px;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
    width: 25%;
    margin: 0 10px 30px 10px;
}

.about-count-section .container .content[data-id="unique-id-1"] {
    background: url(images/item-bg-1.jpg) no-repeat center;
    background-size: cover;
}

.about-count-section .container .content[data-id="unique-id-2"] {
    background: url(images/item-bg-2.jpg) no-repeat center;
    background-size: cover;
}

.about-count-section .container .content[data-id="unique-id-3"] {
    background: url(images/item-bg-3.jpg) no-repeat center;
    background-size: cover;
}

.about-count-section .container .content[data-id="unique-id-4"] {
    background: url(images/project-bg-1.jpg) no-repeat center;
    background-size: cover;
}

.about-count-section .container .content:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,30,76,.9);
    z-index: -1;
}

.about-count-section .container .content h2 {
    margin: 0;
    margin-top: -5px;
    color: #ffbc13;
    font-size: 40px;
    font-weight: 700;
}

.about-count-section .container .content span {
    color: #fff;
}

.about-count-section .container .content:after {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    border-top: 100px solid #ffbc13;
    border-right: 100px solid transparent;
}

/*catalog*/
.projects-section {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projects-section .container {
    display: flex;
    flex-wrap: wrap;
}

.projects-section .container .project-item {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.projects-section .container .project-item .image {

}

.projects-section .container .project-item img {
    width: 375px;
    height: 429px;
}

.projects-section .container .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,30,76,.9);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.projects-section .container .overlay h3 a {
    color: #fff;
    text-decoration: none;
}

.projects-section .container .overlay h3 {
    font-size: 24px;
}

.projects-section .container .overlay:before {
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    border-top: 100px solid rgba(255,188,19,.8);
    border-left: 100px solid transparent;
}

.projects-section .container .overlay:after {
    position: absolute;
    content: '';
    bottom: 10px;
    left: 10px;
    border-bottom: 100px solid #ffbc13;
    border-right: 100px solid transparent;
}

/*popups*/
.popups-formwork .large-formwork-container {
    display: none;
    background: #1a1a1a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 42px;
}
.popups-formwork .small-formwork-container {
    display: none;
    background: #1a1a1a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 42px;
}

.popups-formwork .container {
    background: #FFF;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.popups-formwork .container .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.popups-formwork .content img {
    width: 528px;
}

.popups-formwork .bx-x {
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 60px;
    cursor: pointer;
}

.popups-formwork .content .content-container h2 {
    font-size: 49px;
}

.popups-formwork .content .content-container .desc span {
    font-size: 20px;
    font-weight: 700;
}

.popups-formwork .content .content-container .desc ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 30px;
}

.popups-formwork .content .content-container .desc li {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-left: 25px;
    position: relative;
    line-height: 1.8;
    color: #2c2c2c;
}

.popups-formwork .content .content-container .desc li i {
    margin-right: 5px;
    color: #ffbc13;
    vertical-align: -2px;
}

.popups-formwork .content .content-container .form {
    background: #f5f4f4;
    padding: 25px;
    border-radius: 10px;
    margin: 10px 0;
}

.popups-formwork .content .content-container .form span {
    font-size: 28px;
}

.popups-formwork .content .content-container .form form {
    margin-top: 12px;
    position: relative;
}

.popups-formwork .content .content-container .form form input {
    padding-right: 315px;
    padding-left: 15px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 28px;
    background: transparent;
    border: 1px solid #ffbc13;
    border-radius: 10px;
}

.popups-formwork .content .content-container .form form button {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 34px;
    right: 0;
    position: absolute;
    background: linear-gradient(90deg, #ff4315 0%, #ffbc13 100%);
    border: 1px solid #ffbc13;
    border-radius: 10px;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    z-index: 2;
}

.popups-formwork .container .buttons {
    display: flex;
    justify-content: flex-start;
}

.popups-formwork .container .buttons a {
    border: 1px solid #ffbc13;
    border-radius: 10px;
    font-size: 21px;
    color: #fff;
    padding: 20px 40px;
    margin: 0 10px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff4315 0%, #ffbc13 100%);
}

.popups-formwork .container .buttons a:hover {
    color: #1a1a1a;
    background: #ffbc13;
}

@media (max-width: 1300px) {
    .popups-formwork .content img {
        width: 328px;
    }
    .projects-section .container .project-item img {
        width: 300px;
        height: 340px;
    }
}

@media (max-width: 1130px) {
    .popups-formwork .content .content-container h2 {
        font-size: 30px;
    }
    .popups-formwork .content .content-container .form span {
        font-size: 20px;
    }
    .popups-formwork .content .content-container .form form input {
        padding-right: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .popups-formwork .content .content-container .form form button {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media (max-width: 450px) {
    .projects-section .container {
        justify-content: center;
    }
    .projects-section .container .project-item {
        margin-left: 0;
    }
    .projects-section .container .project-item img {
        width: 300px;
        height: 340px;
    }
    .popups-formwork .bx-x {
        font-size: 30px;
    }
    .popups-formwork .container .content {
        flex-wrap: wrap;
    }
    .popups-formwork .content img {
        width: 210px;
    }
    .popups-formwork .content .content-container h2 {
        font-size: 20px;
    }
    .popups-formwork .content .content-container .desc span {
        font-size: 14px;
    }
    .popups-formwork .content .content-container .desc li {
        font-size: 14px;
    }
    .popups-formwork .container .buttons a {
        font-size: 14px;
    }
    .popups-formwork .content .content-container .form {
        padding: 10px;
    }
    .popups-formwork .content .content-container .form form input {
        font-size: 14px;
        padding-right: 100px;
    }
    .popups-formwork .content .content-container .form span {
        font-size: 14px;
    }
    .popups-formwork .content .content-container .form form button {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}